MARIADB_ROOT_PASSWORD=root
MARIADB_DATABASE=tre
MARIADB_USER=tre
MARIADB_PASSWORD=trepass
MARIADB_PORT=3306

# Se precisar, sobrescreva o nome do driver ODBC dentro do container cobol:
# ODBC_DRIVER=MariaDB Unicode
